extends layout

block content
  div.row
    div.col.s12.m4
      div.card.blue-grey.darken-3
        div.card-content.orange-text.text-lighten-2
          span.card-title Temperature
          h1.center-align #{dht.temperature}&#8451;
    div.col.s12.m4
      div.card.blue-grey.darken-3
        div.card-content.orange-text.text-lighten-2
          span.card-title Humidity
          h1.center-align #{dht.humidity}%
    div.col.s12.m4
      div.card.blue-grey.darken-3
        div.card-content.orange-text.text-lighten-2
          span.card-title Moisture
          h1.center-align #{moisture.moisture}
    div.col.s12.m4
      div.card.blue-grey.darken-1
        div.card-content
          span.card-title Light
          p
            div.switch
              label
                i.material-icons.text-lighten-2 power_settings_new
                input#light(type='checkbox', checked=light)
                span.lever
                i.material-icons.light-green-text.text-accent-3 power_settings_new
        div.card-action
          a(href='/light') More
    div.col.s12.m4
      div.card.blue-grey.darken-1
        div.card-content.white-text
          span.card-title Fan
          p
            div.switch
              label
                i.material-icons.text-lighten-2 not_interested
                //- i.material-icons.text-lighten-2 power_settings_new
                //- input#fan(type='checkbox', checked=fan, disabled=true)
                //- span.lever
                //- i.material-icons.light-green-text.text-accent-3 power_settings_new
    div.col.s12.m4
      div.card.blue-grey.darken-1
        div.card-content.white-text
          span.card-title Pump
          p
            div.switch
              label
                i.material-icons.text-lighten-2 not_interested
                //- i.material-icons.text-lighten-2 power_settings_new
                //- input#pump(type='checkbox', checked=pump, disabled=true)
                //- span.lever
                //- i.material-icons.light-green-text.text-accent-3 power_settings_new

block append js
  script(src='/js/index.js')
