extends layout

block content
  h1= title
  dl
    dt Temperature
    dd #{dht.temperature} &#8451;
    dt Humidity
    dd #{dht.humidity} %
    dt Moisture
    dd #{moisture.moisture}
    dt Light
    dd 
      input#light(type='checkbox', checked=light)
    dt Fan
    dd 
      input(type='checkbox', checked=fan, disabled=true)
    dt Pump
    dd 
      input(type='checkbox', checked=pump, disabled=true)

block scripts
  script(src='/js/index.js')
